{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>命理gpt</title>

    <!-- swiper css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/dis.css' %}">
</head>

<body>

    <!-- header design -->
    <header class="header">
        
        
        <a href="/index" class="logo">命理GPT</a>

        <nav class="navbar">
            <a href="/index" class="active">首頁</a>        
            <a href="/aichat2">AI算命師</a>
            <a href="/year">流年運勢</a>
            <a href="/day">每日運勢</a>
            <a href="/book">教育資源</a>
            <a href="/index#about">關於我們</a>
            <a href="/we">聯絡我們</a>
            {% if user.is_authenticated %}
            <a href="/aboutme/">{{ user.get_username }}</a>
            <a href="/logout/">登出</a>
            {% else %}
            <a href="/login/">登入</a>
        {% endif %}
        </nav>

        <div class="bx bx-moon" id="darkMode-icon"></div>

        <div class="bx bx-menu" id="menu-icon"></div>
    </header>
    <br>
    <br>
    <br>
    <br>

   <!-- 隱私權保護政策 -->
    <div class="privacy-policy">
        <h2>隱私權保護政策</h2>
        <p>歡迎您使用本網站,命理GPT(以下稱「我們」)尊重並承諾保護您的個人隱私，我們致力遵循關於保護您個人隱私及個人資料安全之相關法令要求。因此，我們制訂了隱私權政策，載明我們如何收集、使用、揭露、移轉及儲存您的個人資訊。</p>
    
        <h3>個人資訊的收集與使用</h3>
        <p>我們所蒐集的個人資料:</p>
        <ol>
        <p>個人資料為可以直接或間接地識別您個人身分的資料，例如：您的姓名、電子郵件地址、IP位址等。我們會在取得您的同意後，才會蒐集您的以下個人資料：</p>
        <li>當您欲註冊命理GPT會員時，您需要提供您真實、正確、最新且完整的註冊資料，包括您的電子郵件地址、出生年月日、電話；在獲得您同意的情況下，會將您於</li>
        <li>為您改善我們產品及服務時,您可能需要提供您的姓名、郵寄地址(包含郵遞區號)、電話號碼、電子郵件地址、信用卡號碼或其他付款資訊。</li>
        <li>為您參加我們舉辦的行銷活動時,您可能需要提供您的姓名、電話號碼、電子郵件地址、出生日期、性別等個人資訊。
            若您是有獎活動的得獎者或是為了領取贈品,您可能還需額外提供位址的說明書,因為需要將贈品送達給您。</li>
        </ol>

        <h3>我們如何使用您的個人資料</h3>
        <p>我們所蒐集的個人資料將用於以下目的：</p>
        <ol>
        <li>改善及提升我們的服務。</li>
        <li>使用者經驗調查及分析，以開發我們的新產品與服務。</li>
        <li>寄送與您權益相關之重要通知給您，例如服務的條款、政策有所變更時。
            請注意，為保全您的權益，您將無法取消接收本項通知。</li>
        <li>個人化行銷，如透過第三方的廣告性Cookies，提供符合您個人偏好的行銷與廣告內容、
            根據您過往使用我們的服務的模式來推薦適合您的服務內容。</li>
        <li>任何其他取得您同意的目的。</li>
        </ol>

        <h3>個人資料的保留期間</h3>
        <p>我們將於完成本政策內所述使用目的之必要期間保留您的個人資料，除非有以下法定或其他必要的情況下，我們才會保留更長的期間：如，為了客戶關係管理，在適當合理的期間內會保留您的個人資料、或為遵循稅法或其他法律規定，在依法所要求的特定期間內保留您的個人資料、或為配合政府或司法機關調查或訴訟等要求。此外，若您一開始同意我們向您蒐集個人資料，但之後希望撤回此同意，在您撤回同意之後，
            我們便不會繼續蒐集您的個人資料，只會保留我們在您撤回同意之前所蒐集的個人資料。</P>

        <h3>我們揭露您個人資料的對象</h3> 
        <P>除非有以下任何一種情形，否則我們不會將自您蒐集得的個人資料揭露予其他第三方：</P>
        <h4>取得您的同意</h4>
        <P>我們會在取得您的同意後，才可能向科技紫微網以外之其他第三方揭露、分享您的個人資料。</P>

        <h4>基於法律或保護之目的</h4> 
        <p>於有遵守法令、主管機關或司法單位之要求、或為保全法律上的請求、抗辯或為防止詐騙或調查其他不法行為所必要時。我們將揭露您的個人資料的必要項目予第三方。</P>
        <h4>跨境傳輸</h4>
        <p>您了解並同意當您使用桃桃喜網站產品及服務或將您的個人資料提供予我們時，您的個人資料皆將可能在我們位處各國的合作企業、服務供應商間進行跨境傳輸、儲存及處理利用。上述跨境傳輸、儲存及處理利用行為皆將遵循本政策及各國個人隱私及個人資料安全之相關法令要求。</p> 

        <h3>更新/刪除您的個人資訊</h3>
        <p>若您已註冊並希望自「命理GPT」提供的系統中刪除您提供給我們的任何註冊資訊，請透過分頁底部的「聯絡我們」連結與我們聯繫。
            根據您的需求，我們將盡力於30天內自活動數據庫中刪除您的註冊資訊，並在可行的情況下從我們的備份媒體中刪除您的註冊資訊。 
            請注意，永久刪除您的註冊資訊，您的所有個人資料亦從資料庫中清除。這道流程完成後，您再也無法使用您的任一項服務，您的使用者帳號與所有資料均將永久移除，
            「命理GPT」將無法恢復您的帳號，或於日後擷取您的個人資料。若您於日後聯絡「命理GPT」支援管道，系統將無法辨認您的帳號與找回已刪除的帳號。</P>

        <h3>Cookie技術之使用 </h3>
        <p>Cookie是從Web伺服器傳送到您的瀏覽器並保存在您的電腦硬碟中的簡短資料，命理GPT網站使用Cookie作為與您溝通與辨識的工具，目的在於隨時將您在網頁上所曾進行活動或輸入的字串資料儲存，記錄個人資料及喜好，利於提供個人化服務或遞送符合興趣及嗜好的廣告、了解網頁瀏覽的情況以改善服務品質以及提高命理GPT網站系統的安全性。
        大多數個人電腦或行動裝置的瀏覽器，均有設定自動接受網站之Cookie設定，如果您不希望接受我們所運用的Cookie並且希望關閉Cookie，您可以透過所使用的瀏覽器更改Cookie設定。如您選擇不接受或阻擋我們網站的Cookie，可能會導致完全無法使用或僅能使用命理GPT網站為您提供的部分服務功能。</p>

        <h3>隱私權政策的修訂</h3>
        <p>本公司有權隨時修訂本政策內容，若會員對於命理GPT網站隱私權聲明、或與個人資料有關之相關事項有任何疑問，請與客服中心聯絡。

            若您不同意本網站的隱私權政策，請停止繼續使用本網站服務。如未經表示反對仍繼續使用本網站，則視為您已閱讀、瞭解並同意接受修訂內容。</p>

    </div>
 
    <!-- footer design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 |命理GPT.</p>
            <br>
            <a style="font-size: 25px;"href="/disclaimer" >隱私權政策與個資聲明</a>
            <p>我們會盡力確保本網頁的資料準確性，但不會肯定任何資料絕對準確無誤，亦不會對任何錯誤或遺漏而帶來任何的損失承擔法律責任。</p>
            <p>本網站算命結果僅供參考，若有問題請尋求正規管道</p>
            
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>


    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>


    <!-- custom js -->
    <script src="{% static 'js/index.js'%}"></script>
</body>

</html>
